// footer style
#footer {
  @include margin-padding(80px, 0, 0, 0, false);
  background-color: #35373a;
  .footer {
    @include flex(flex, center, center);
    .side-1 {
      @include section-divider(flex, 30%, 30%);
      @include flex(flex, center, flex-start);
      flex-direction: column;
      h5 {
        color: #fff;
        @include margin-padding(0, 0, 32px, 0);
      }
      ul {
        font-size: $defult-font-size - 1px;
        @include margin-padding(0, 0, 40px, 0);
        li {
          @include margin-padding(0, 0, 18px, 0);
          color: #cacaca;
          i {
            @include margin-padding(0, 12px, 0, 0);
          }
        }
      }
    }
    .side-2 {
      @include section-divider(flex, 30%, 30%);
      // @include flex(flex, center, flex-start);
      // flex-direction: column;
      ul {
        font-size: $defult-font-size - 1px;
        @include margin-padding(0, 0, 40px, 0);
        li {
          @include margin-padding(0, 0, 16px, 0);
          a{
            color: #cacaca;
            transition: color .5s ease;
            &:hover{
              color: yellow;
            }
          }
        }
      }
    }
    .side-3 {
      @include section-divider(flex, 30%, 30%);
      flex-direction: column;
      p{
        color: yellow;
        @include margin-padding(0, 0, 26px, 0);
        font-size: $defult-font-size;
        width: 100%;
        text-align: center;

      }
      form{
        position: relative;
        .email{
          width: 100%;
          height: 35px;
          @include margin-padding(10px, 10px, 10px, 10px, false);
          border: 0;
          @include border-radius(4px, 4px, 4px, 4px);
          outline: 0;
        }
        .submit{
          position: absolute;
          top: 8px;
          right: 10px;
          border: 0;
          cursor: pointer;
          outline: 0;
          background-color: transparent;
          transition: color .5s ease;
          &:hover{
            color: rgb(67, 130, 228);
          }
        }
      }
     
    }
  }
  p.copy-right{
    background-color: #2b2d30;
    text-align: center;
    @include margin-padding(30px, 0, 30px, 0, false);
    color: #cacaca;
    font-size: $defult-font-size - 2px;
  }
}