// header style
#header {
  header {
    width: 100%;
    @include margin-padding(100px, 0, 0, 0);
    @include flex(flex, space-between, flex-start);
    .right {
      position: relative;
      @include section-divider(flex, 67%, 67%);
      .gear-1 {
        position: absolute;
        top: 0;
        left: 20px;
        font-size: $defult-font-size + 24px;
        color: rgb(107, 107, 107);
        animation: gear-1 13s infinite linear;
      }
      @keyframes gear-1 {
        100% {
          transform: rotate(360deg);
        }
      }
      .gear-2 {
        position: absolute;
        top: 0;
        left: 0px;
        font-size: $defult-font-size + 4px;
        color: rgb(78, 78, 78);
        animation: gear-2 13s infinite linear;
      }
      @keyframes gear-2 {
        100% {
          transform: rotate(-360deg);
        }
      }
      .sq-1 {
        position: absolute;
        top: 0;
        right: 80px;
        width: 20px;
        height: 20px;
        border: 4px solid #efefef;
        animation: sq-1 15s infinite linear;
      }
      @keyframes sq-1 {
        100% {
          transform: rotate(-360deg);
        }
      }
      .sq-2 {
        position: absolute;
        bottom: -16px;
        right: 130px;
        width: 40px;
        height: 40px;
        border: 4px solid #ff7373;
        animation: sq-2 40s infinite linear;
      }
      @keyframes sq-2 {
        100% {
          transform: rotate(360deg);
        }
      }
      .sq-3 {
        position: absolute;
        bottom: 0;
        left: 80px;
        width: 30px;
        height: 30px;
        border: 4px solid #efefef;
        animation: sq-3 7s infinite linear;
      }
      @keyframes sq-3 {
        100% {
          transform: rotate(-360deg);
        }
      }
    }
    .left {
      @include section-divider(flex, 33%, 33%);
      @include margin-padding(17%, 0, 0, 0);

      h1 {
        font-size: $defult-font-size + 18px;
        line-height: 46px;
        @include margin-padding(0, 0, 30px, 0, false);
      }
    }
  }
}