// menu style
#nav {
  .navbar {
    font-size: $defult-font-size + 2px;
    height: 60px;
    @include margin-padding(24px, 0, 24px, 0);
    @include flex(flex, space-between, null);
    ul {
      li {
        display: inline-block;
        line-height: 60px;
        @include margin-padding(0, 0, 0, 18px);
        position: relative;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          // top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: $nav-link-hover;
          transition: width 0.5s ease;
        }
        &:hover::after {
          width: 100%;
        }
        a {
          color: $nav-link;
          transition: color 1.5s ease;
          // &:hover {
          //   color: rgb(54, 114, 228);
          // }
        }
        &:hover a {
          color: $nav-link-hover;
        }
      }
    }
    .social-icons {
      direction: ltr;
      @include margin-padding(21px, 0, 0, 0, false);
      a {
        color: $social-icons-color;
        transition: color 1s ease;
        &:hover {
          color: $social-icons-color-hover;
        }
        i {
          @include margin-padding(0, 8px, 0, 0);
        }
      }
    }
  }
}
