// topic style
#topic {
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 184px;
    background: rgba(140, 124, 229, 0.08);
    left: -250px;
    bottom: 90px;
    transform: skewX(10deg);
    @include border-radius(0, 20px, 50px, 0);
  }
  &::after {
    bottom: 149px;
    left: -310px;
  }
  .topic-title {
    font-size: $defult-font-size + 10px;
    // margin-bottom: 30px;
    @include margin-padding(0, 0, 30px, 0);
    border-left: 5px solid red;
    @include margin-padding(0, 0, 0, 10px, false);
  }
  .topic {
    @include flex(flex, space-between, null);
    @include margin-padding(0, 0, 20px, 0);
    .card {
      @include section-divider(flex, 49%, 49%);
      border: 1px solid #efefef;
      @include border-radius(3px, 3px, 3px, 3px);
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      &:hover .topic-img::after {
        opacity: 0.5;
      }
      .topic-img {
        @include section-divider(flex, 30%, 30%);
        overflow: hidden;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #000;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          transition: opacity 0.5s ease;
        }
      }
      .topic-detial {
        position: relative;
        @include section-divider(flex, 70%, 70%);
        flex-direction: column;
        @include margin-padding(22px, 22px, 22px, 22px, false);
        &::after {
          content: "";
          width: 37px;
          height: 125%;
          background-color: #fff;
          position: absolute;
          top: -5px;
          left: -24px;
          transform: rotate(-5deg);
        }
        a {
          font-size: $defult-font-size;
        }
        .meta {
          font-size: $defult-font-size - 4px;
          @include margin-padding(15px, 0, 0, 0);
          color: #ccc;
          span {
            @include margin-padding(0, 16px, 0, 0);
          }
        }
        p {
          font-size: $defult-font-size - 2px;
          @include margin-padding(20px, 0, 0, 0);
          line-height: 30px;
          color: #757575;
        }
      }
    }
  }
}