// Font Variable
$fonts-path: "../assets/fonts";
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-style: "normal";
$font-display: "swap";
$font-family-satoshi: "Satoshi", sans-serif;
$font-family-inter: "Inter", sans-serif;
$defult-font-size: 16px;
// variable
$nav-link: rgb(70, 70, 70);
$nav-link-hover: rgb(54, 114, 228);
$social-icons-color: #545858;
$social-icons-color-hover: #3f3d3d;